.headbar {
    background-color:blueviolet;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 0;
    padding-left: 50px;
    padding-top: 5px;
    opacity: 0.95;
    z-index: 999;
}

.headbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.headbar li {
    margin: 10px 10px;
    color: white;
}

.headbar a {
    color:white;
    text-decoration: none;
}

.headbar p {
    color:white;
    font-weight: bolder;
    font-size: xx-large;
    margin: 8px;
}

.add {
    display: inline-block;
    width: 512px;
    height: 512px;
    background: url(../image/add.png) -0 41px;
    zoom: 0.03;
}

.return {
    display: inline-block;
    width: 512px;
    height: 512px;
    background: url(../image/return.png) -0 12px;
    zoom: 0.03;
}