header {
    background-color: #00008B;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 25;
}

body {
    margin: 0;
    font-size: 17;
    font-family: 'Arial', sans-serif;
}
.content {
    margin-left: 300px; /* 确保内容不被导航栏遮挡 */
    margin-right: 300px; /* 确保内容不被边栏遮挡 */
    padding: 20px; /* 为内容添加内边距 */
}
